* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #fdc7ff;
    height: 150px;
}

nav {
    background-color: #9a14ec;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: white;
}

footer {
    background-color: #cb87f5;
    height: 150px;
}